.document {
  &__container {
    border: var(--border-white);
    padding: 13px 16px;
    display: flex;
    align-items: center;
    gap: 15px;

    &--insert {
      border-bottom: var(--border-blue-large);
    }

    &--shadow-clone {
      position: fixed;
      opacity: 1;
      background-color: var(--color-white);
      box-shadow: var(--box-shadow-blue);
    }
  }

  &__button {
    width: 22px;
    height: 22px;
  }

  &__label {
    white-space: nowrap;
    font-size: 15px;
    font-weight: 500;
  }

  &__badges {
    display: flex;
    gap: 6px;
  }

  &__required {
    font-weight: 400;
    font-size: 11px;
    color: var(--color-pink);
  }

  &__description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;
    font-size: 11px;
    font-weight: 400;
    color: var(--color-grey);
  }

  &__actions {
    display: flex;
    gap: 21px;
  }

  &--dragging {
    opacity: .5;
  }
}