.button {
  cursor: pointer;
  border: 1px solid #D3D8DF;
  border-radius: 50px;
  background-color: #ffffff;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 10px;

  transition: all .2s;

  &__icon {
    transition: all .5s;

    &.rotate {
      transform: rotateX(180deg);
    }
  }

  &__label {
    font-size: 12px;
    font-weight: 500;
  }

  &--gap {
    gap: 10px;
  }

  &--flat {
    padding: 0;
    border: none;
  }

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .15);
    transform: translateY(-1px);
  }

  &:active, &:focus {
    box-shadow: 0 1px 20px rgba(0, 0, 0, .15);
    transform: translateY(0);
  }
}