.button {
  &, &:link, &:visited {
    cursor: pointer;
    border: var(--border-grey);
    border-radius: 50px;
    background-color: var(--color-white);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 10px;

    transition: all .2s;
  }

  &__icon {
    transition: all .5s;

    &.rotate {
      transform: rotateX(180deg);
    }
  }

  &__label {
    font-size: 12px;
    font-weight: 500;
  }

  &--gap {
    gap: 10px;
  }

  &--flat {
    padding: 0;
    border: none;
  }

  &--sm {
    padding: 7.7px 6px;
  }

  &:hover {
    box-shadow: var(--box-shadow-black-large);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: var(--box-shadow-black-small);
    transform: translateY(-1px);
  }
}