:root {
  --border-blue-large: 3px solid #0066FF;
  --border-blue-small: 1px solid #0066FF;
  --border-grey: 1px solid #D3D8DF;
  --border-light-grey: 1px solid #BFC9E0;
  --border-white: 1px solid #DFE4EF;

  --box-shadow-black-large: 0 10px 20px rgba(0, 0, 0, .15);
  --box-shadow-black-small: 0 5px 20px rgba(0, 0, 0, .15);
  --box-shadow-blue: 0px 3px 16px rgba(0, 102, 255, 0.7);

  --color-black: #000;
  --color-blue: #00C2FF;
  --color-grey: #8E9CBB;
  --color-orange: #FF8D23;
  --color-pink: #FF238D;
  --color-white: #fff;
  --color-yellow: #FFB800;
}