@import 'base/base';

@import 'components/documentsList';
@import 'components/documentItem';
@import 'components/myAccordion';
@import 'components/myBadge';
@import 'components/myButton';
@import 'components/myInput';

@import 'layout/header';
@import 'layout/page';

@font-face {
  font-family: 'Fira Sans';
  src: url('../assets/fonts/FiraSans-Medium.ttf') format('truetype'),
       url('../assets/fonts/FiraSans-MediumItalic.ttf') format('truetype'),
       url('../assets/fonts/FiraSans-Regular.ttf') format('truetype');
  font-weight: normal;
}